##############################
## Java / Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties

##############################
## Node.js
##############################
node/
node_modules/

##############################
## IntelliJ IDEA
##############################
.idea/

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## macOS
##############################
.DS_Store
