{
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "conventionalcommits"
    }],
    ["@semantic-release/release-notes-generator", {
      "preset": "conventionalcommits"
    }],
    ["@semantic-release/exec", {
      "prepareCmd": "npm version ${nextRelease.version} --no-git-tag-version --allow-same-version && node scripts/update-repo-changelog.js --version=${nextRelease.version} --prev-tag=${lastRelease.version}",
      "publishCmd": "npm run build"
    }],
    ["@semantic-release/git", {
      "assets": ["package.json", "repo.xml.tmpl"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    ["@semantic-release/github", {
      "assets": [{
        "path": "dist/monex-*.xar",
        "name": "monex-${nextRelease.version}.xar",
        "label": "Expath package (monex-${nextRelease.version}.xar)"
      }]
    }]
  ]
}
