name: CI
on: [push, pull_request]
jobs:
  build:
    name: Build and Test (${{ matrix.exist }} / OpenJDK ${{ matrix.jdk }})
    strategy:
      fail-fast: true
      matrix:
        exist: ['6.1.0', '6.4.0']
        jdk: ['8', '11']
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.jdk }}
      - name: Cache Maven packages
        uses: actions/cache@v5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Maven Build
        run: mvn clean package -DskipTests
      - name: Test
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
        run: mvn verify -P e2e-tests-with-recording -Dexist.docker.tag=${{ matrix.exist }}
